body{
	background: black;
}

nav{
	background: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid #a9a9a9 !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar li a{
	color: #A9A9A9;
	font-size: 1.5em;
	font-weight: bold;
}

.navbar li a:hover{
	background-color: #A9A9A9;
	border: 1px solid #A9A9A9;
	border-radius: 10px 10px 0px 0px;
	color: #BF1A10;	
}

.active a{
	color: #BF1A10 !important;
}

.icon-bar{
	background-color: #A9A9A9;
}

.background{
	position: fixed;
	top: 0px;
	z-index: -1;
	width: 100%;
}

.background img{
	width: 100%;
	height: auto;
}

.img-overlay{
	/*background-image: -webkit-linear-gradient(90deg rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.9) 100%);*/
	/*background: -webkit-gradient(linear, center top, center bottom, from(#917c4d), to(#ffffff));*/
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.5) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,.9) 100%);
	background: -moz-linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.5) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,.9) 100%);
	background: -o-linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.5) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,.9) 100%);
	background: -ms-linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.5) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,.9) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.5) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,.9) 100%);
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-spacer{
	/*min-height: 600px;*/
}

.header-banner{
	margin-top: 80px;
}

.header-banner img{
	width: 60%;
	margin-bottom: 60px;
}

.banner-info-container{
	min-height: 200px;
	background: rgba(0, 0, 0 ,.8);
	margin-bottom: 50px;
}

.banner-info{
	width: 80%;
	margin: 0 auto;
}

.banner-info [class*='col-']{
	padding: 15px;
}

.banner-info h4{
	color: #A9A9A9;
	font-weight: bold;
	font-size: 3em;
}

.banner-info a:hover{
	text-decoration: none;
}

.learn-more-container p {
	color: white;
}

.learn-more-container{
	position: relative;
	color: white;
	font-size: 2em;
	border: 1px solid white;
	width: 90%;
	margin: 0 auto;
	z-index: 2;
	overflow: hidden;
}

.learn-more-container:after{
	content: "";
	position: absolute;
	border-color: white;
	z-index: 1;
	background-color: #BF1A10;
	height: 300%;
	width: 110%;
	left: 80%;
	bottom: 50%;
	transform: rotate(-20deg);
	border: 1px solid #fff;
	transition: .3s ease;
}

.learn-more-container:hover:after{
	left: 0%;
	transform: rotate(0deg);
	bottom: -100%;
}

.learn-more-container span{
	display: block;
	position: relative;
	z-index: 5;
}

.learn-more-container:hover, .learn-more-container:hover:after, .learn-more-container span:hover{
	cursor: pointer;
}

.what-is{
	padding-top: 60px;
	background: rgba(0, 0, 0 ,.8);
	padding-bottom: 60px;
}

.what-is h4{
	color: #A9A9A9;
	font-weight: bold;
	font-size: 3em;
}

.what-is p{
	color: white;
	font-size: 2em;
}

/*COACH BIO CSS*/
.meet-the-coaches-section{
	margin-top: 200px;
}

.coach-bio-container{
	position: relative;
	margin: 15px 0px;
}

.coach-bio{
	position: relative;
	height: 400px;
	background-color: rgba(0,0,0,0.9);
	z-index: 1;
	border-radius: 20px;
	box-shadow: -5px 5px 15px rgba(169,169,169,.7);
}

.coach-bio-container:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: rgba(169,169,169, .8);
	height: 50px;
	width: 100%;
}

.coach-portrait{
	width: 60%;
	margin: 15px auto;
	border-radius: 100%;
	overflow: hidden;

}

.coach-portrait img{
	width: 100%;
	height: auto;
}

.coach-bio-button{
	background-color: #A9A9A9;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.coach-bio h4{
	color: #BF1A10;
	font-weight: bold;
}

.coach-bio p{
	color: white;
}

/*WOD CSS*/
.wod-container{
	height: 400px;
	background: #FFFFFF;
	border-radius: 20px;
}

.wod-header{
	background: #BF1A10;
	font-weight: bold
	font-size: 1.5em;
	color: white;
	margin: 0px -15px;
	border-radius: 20px 20px 0px 0px;
	padding: 10px;
}

.wod-header h2{
	margin: 0px;
}

.wod-date{
	background: #E24037;
	color: white;
	margin: 0px -15px 15px -15px;
	padding: 10px;
}

.wod-date h3{
	margin: 0px;
}

/*testimonial css*/
.testimonial-ul{
	list-style: none;
}

.testimonial{
	position: relative;
	visibility: hidden;	
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.testimonial-name{
	padding-top: 80px;
	padding-left: 40px;
	color: red;
}

.testimonial-content{
	padding-left: 30px;
	color: white;
	padding-bottom: 50px;
}

.testimonial-pic img{
	width: 80px;
	border-radius: 100%;
	position: absolute;
	left: -38px;
	z-index: 2;
}

.testimonial:not(:last-child) .testimonial-pic:after{
	content: "";
	position: absolute;
	left: 0;
	top: 40px;
	border-left: 4px solid #A9A9A9;
	height: 100%;
	z-index: 1;
}

.fade-in{
	visibility: visible !important;
	opacity: 1;	
}

/*video css*/
 /*html template*/
 /*<div class="youtube-player" data-id="VIDEO_ID"></div>*/

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    Use 75% for 4:3 videos
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("../img/play.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

/*MEDIA QUERIES*/

/*Testimonial media queries*/
@media only screen and (min-width: 768px){
	.learn-more-container span{
		font-size: .8em
	}
	.learn-more-container:after{
		left: 80%;
	}
	.navbar li a{
		font-size: 1em;
	}
	.learn-more-container{
		width: 95%;
	}
	.banner-info h4{
		font-size: 2em;
		height: 80px;
	}
}

@media only screen and (min-width: 992px){
	.navbar li a{
		font-size: 1.8em;
	}
	.learn-more-container span{
		font-size: 1em
	}
	.learn-more-container:after{
		left: 90%;
	}
}