.background{
    background: url('./bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#naicsUL{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}

#naicsUL li{
    padding-right: 15px;
    list-style: none;
}

#questionContainer{
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1.2em;
}


#radioForm{
    text-align: left;
}

.starImg{
    width: 10%;
}

.favoritesImg{
    max-width: 40px;
}

#yesBtn{
    margin-left: 5%;
}
#noBtn{
    margin-right: 5%;
}

.company-name{
    font-size: 2.5em;
}

.card{
    margin: 25px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
}

.company-logo{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.company-logo img{
    padding: 10px;
}

#progress-bar-div{
    margin-top: 20px;
}