.background{
    background: url('./bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#naicsUL{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}

#naicsUL li{
    padding-right: 15px;
    list-style: none;
}

#questionContainer{
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 25px;
    font-size: 1.2em;
}

.starImg{
    width: 10%;
}

.favoritesImg{
    max-width: 40px;
}

#yesBtn{
    margin-left: 5%;
}
#noBtn{
    margin-right: 5%;
}

.card{
    margin: 25px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
}

.company-logo{
    position: absolute;
    top: 2%;
    right: 2%;
    max-width: 100%;
    max-height: 150px;
}