html{
    width: 100%;
}

.nav a{
    color: #999999;
}

.nav .navbar-toggle .icon-bar {
    background-color: black;
}

@media screen and (min-width: 551px){
    .nav .nav-tabs {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .nav .navbar-collapse {
      text-align: center;
    }
}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}

.header{
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header-img{
    margin: auto;
}

.header-item, .header-phone, .header-email{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: white;
    font-size: 1.8em;
}

.home-body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

.services-body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

.about-us-body{
    margin-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

.about-us-photo{

}

.indent{
    text-indent: 2em;
}

.apptFrame{
    width: 95%;
    height: 800px;
}

.apptBookingRow{
    margin: 0 auto;
}

.slider-div{
    margin-top: 10px;
}

.bookingPageImg{
    width: 100%;
    margin-top: 10px;
}

.home-page-sidebar{
    margin-top: 15px;
}

.home-page-booking-button{
    background-color: #FFBD33;
    height: auto;
}

.home-page-booking-button a{
    color: white;
    font-size: 1.8em;
    white-space: normal;
}

.home-page-sidebar p{
    font-size: .9em;
}

#map{
    width: 100%;
    height: 400px;
}

.booking-warning{
    display: none;
}

.services-category{
    color: #C59E5D;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.services-header{
    font-weight: bold;
    font-size: 2em;
    color: #FFBD33;
    text-align: center;
}

.hit-the-floor {
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.left-services-row, .right-services-row{
    width: 100%;
    margin: auto;
}