@media screen and (max-width: 550px){
    .header-img{
        width: 100%;
    }

    .header-contact-info{
        display: none;
    }

    .nav-tabs li{
        float: none;
    }

    .home-page-sidebar .row{
        margin: auto;
    }

    #map{
        display: none;
    }

    .booking-warning{
        display: block;
        color: red;
        padding: 0px 20px;
    }
}

@media screen and (max-width: 800px){
    /*.home-body{
        padding: 0px 30px;
    }*/
}