html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
    width: 90%;
    margin: 20px auto;
}

@media only screen and (max-width: 768px){
  .slider{
    width: 85%;
  }
}

@media only screen and (max-width: 420px){
  .slider{
    width: 80%;
  }
}

.slick-slide {
  /*margin: 0px 20px;*/
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before{
  color: white;
  content: '\f053' !important;
  font-family: FontAwesome;
  font-style: normal;
  text-shadow: -1px 1px 3px #000, 0px -1px #000, 1px 0px #000, 0px 1px #000;
  font-size: 30px;
  position: relative;
  left: -10px;
}
.slick-next:before {
  color: white;
  content: '\f054' !important;
  font-family: FontAwesome;
  font-style: normal;
  text-shadow: -1px 1px 3px #000, 0px -1px #000, 1px 0px #000, 0px 1px #000;
  font-size: 30px;
  position: relative;
  left: 10px;
}